<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AddInDirectories"
             type="NetFocus.DataStructure.AddInSettingsHandler,DataStructure" />
  </configSections>

  <AddInDirectories>
    <AddInDirectory path="..\addins\" />
  </AddInDirectories>

  <appSettings>
    <add key="HelpFileDirectory" value="..\doc\help\DataStructure0.1.chm"></add>
    <add key="HelpPath" value="..\doc\help\"></add>
    <add key="AlgorithmExampleDataFile" value="..\data\options\AlgorithmExampleData.xml"></add>
    <add key="AlgorithmFilesPath" value="..\data\resources\algorithms\"></add>
  </appSettings>
</configuration>
